/* CategoryButtons.css */

.carousel-container {
  max-width: 100%; /* Adjust the size as needed */
  margin-right: 10px; /* Add spacing between containers */
  object-fit: cover;
  display: inline-block;
}

.main-banner-container {
  display: flex; /* Establishes a flex container */
  align-items: center; /* Aligns items vertically at the center */
  margin-bottom: 80px; /* Adjust the value as needed */
  /* Other styles... */
  background-color: rgba(245, 171, 32, 0.869);
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Use "contain" instead of "cover" */
}

.custom-categorybuttons-maincontainer {
  box-shadow: 3px 3px 20px 10px rgba(241, 157, 1, 0.869);
}

.custom-categorybuttons-pic-carousel {
  box-shadow: 3px 3px 10px 5px #363636;
  border-radius: 100%;
}

.custom-categorybuttons-pic-image {
  border-radius: 100%;
  
}
