/* App.css */
/* .centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fut {

}
 */


 .footer-container {
  background: linear-gradient(45deg, hsla(180, 100%, 50%, 0.7), hsla(300, 100%, 50%, 0.7));
text-align: center;
 color: #260202;
font-family: 'Arial', sans-serif;
padding: 2rem 0;
line-height: 1.6;
}

.footer-content {
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
padding: 0 10%;
}

.footer-section {
margin: 1rem 0;
}

.footer-section h5 {
margin-bottom: 0.5rem;
color: #120e03; /* A golden-like color for the headings */
}

.footer-link {
display: inline-block;
margin-right: 10px;
color: #161515;
font-size: 1.5rem;
}

.footer-link:hover {
color: #0f0e0d; /* Change color on hover */
}

.footer-bottom {
text-align: center;
padding-top: 1rem;
border-top: 1px solid #444;
 /* Slight border for a visual separation */
}

.footer-bottom p {
margin: 0.5rem 0;
}
