.custom-signupbutton-container {
    padding: 50px;
    background-color: #FFB76B; 
    
}

.custom-signupbutton {
    box-shadow: 3px 3px 3px #7a3a01;
    font-weight: 100;
    transition: transform 0.5s, font-weight 0.5s; /* Transition property added */
}

.custom-signupbutton:hover {
    transform: scale(1.3);
    font-weight: 400;
}

