/* ContactUsForm.css */

.center-content {
    text-align: center;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the wrapper takes up at least the full viewport height */
  }
  
  .form-container {
    min-width: 700px;
    min-height: 400px;
    margin: auto; /* Center the form container horizontally */
    padding: 20px;
    border: 1px solid #FFB76B; /* Add a border to the form container */
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px #E48F45;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-group label,
  .form-group input,
  .form-group textarea,
  .form-group button {
   width: 500px; 
   resize: both;
  }

  .custom-contact-messagebox {
    height: 100px !important;
    overflow-y: auto;
    resize: none !important;
  }
  
  .custom-contact-submit {
    border-width: 1px;
    border-style: solid;
    border-color: #FFB76B;
    border-radius: 20%;
    background-color: transparent;
    padding: 10px;
    font-weight: 100;
    transition: background-color 0.5s ease, font-weight 0.5s ease;
  }

  .custom-contact-submit:hover {
    font-weight: 300;
    background-color: #E48F45;
  }
  
 
  