.img-item {
  padding: 5px; /* Adjust padding as needed */
}

.img-content {
  text-align: center; /* Center-aligns text */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center-align items horizontally */
  margin-bottom: 10px; /* Adjust spacing below headings */
  padding: 0 0px;
}

.img-centered {
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
  width: 200px; /* Sets the width to 290px */
  height: 180px; /* Sets the height to 280px */
  object-fit: cover; /* Ensures the image covers the container, may crop if necessary */
  border-radius: 10px; /* Rounds the corners of the image */
  max-width: 100%; /* Ensures the image is responsive and does not exceed the container's width */
  margin-bottom: 20px; /* Adjust spacing below the image */
}

.shadow-3d {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
  transition: transform 1s, box-shadow 0.3s;
}

/* customs css below */

.custom-HomePage-icons {
  transition: transform 0.6s;
}

.custom-HomePage-icons:hover {
    transform: scale(1.2);
    background-color: transparent;
}

