/* PetDetail.css e.g for CatDetail, DogDetail etc*/


.pet-card-detail{
  width: 790px;
  height: 357px;
  padding: 0px, 40px, 0px;
  text-overflow: ellipsis;
   white-space: nowrap;
  overflow: hidden;
max-width: 100%;
}